<h1>Ideas</h1>


<% unless @ideas.empty? %>
  <div class="well">
    <ul class="list-unstyled" id="ideas-list">
      <% @ideas.each do |idea| %>
        <%= link_to idea_path(idea), class: "list-group-item" do%>
          <p class="list-group-item-text"><%= idea.title %></p>
        <% end %>
      <% end %>
    </ul>
  </div>
<% else %>
  <p>You have no ideas yet.</p>
<% end %>

<%= link_to 'Create an idea', new_idea_path, class: 'btn btn-primary' %>
