@import "bootstrap-sprockets";
@import "bootstrap";
@import "home";
@import "ideas";
@import "notes";
@import "tasks";

body {
  padding-top: 70px;
  background-image: url("/images/hanging-bulb.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
}

.well {
  background-color: white;
}
