@import "bootstrap-sprockets";
@import "bootstrap";
@import "ideas";
@import "notes";
@import "tasks";

body {
  padding-top: 70px;
  background-image: url("/images/hanging-bulb.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}