// Place all the styles related to the ideas controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea {
  resize: vertical;
}

.nav-tabs {
  border: none;
}

.list-group-item-unstyled {
  background: #fff;
  border: 1px solid #ddd;
  padding: 8px;
  margin-bottom: 8px;
}

.list-group-item-unstyled:last-child {
  margin-bottom: 0;
}

blockquote {
  border-left: none;
}

blockquote footer:before {
  content: none;
}

.checkbox {
  margin: 0;
}

#idea-box #idea-action-footer {
  display: none;
}

#idea-box:hover #idea-action-footer {
  display: block;
}

#edit-idea {
  opacity: 0.5;
}

#edit-idea:hover {
  opacity: 1.0;
  text-decoration: none;
}

#delete-idea {
  opacity: 0.5;
}

#delete-idea:hover {
  opacity: 1.0;
  text-decoration: none;
}