// Place all the styles related to the ideas controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea {
  resize: vertical;
}

.nav-tabs {
  border: none;
}

#navbar-idea-icon {
  width: 25px;
  height: 25px;
  display: inline;
  padding-bottom: 3px;
}

blockquote {
  border-left: none;
}

blockquote footer:before {
  content: none;
}

.checkbox {
  margin: 0;
}

.btn-circle {
  width: 80px;
  height: 80px;
  line-height: 80px;
  padding: 0;
  border-radius: 50%;
}

#new-idea {
  text-decoration: none;
}

#new-idea-icon {
  width: 80px;
  height: 80px;
  opacity: 0.8;
}

#new-idea-icon:hover {
  opacity: 1.0;
}

#idea-status-select {
  width: 152px;
}


#idea-box #idea-action-footer {
  display: none;
}

#idea-box:hover #idea-action-footer {
  display: block;
}

#edit-idea {
  opacity: 0.5;
}

#edit-idea:hover {
  opacity: 1.0;
  text-decoration: none;
}

#delete-idea {
  padding-top: 10px;
  padding-right: 5px;
  opacity: 0.5;
  color: red;
}

#delete-idea:hover {
  opacity: 1.0;
  text-decoration: none;
}