// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#note-heading {
  padding: 6px 15px;
}

.note-footer {
  padding: 2px 15px;
}

.note-item .delete-note {
  display: none;
}

.note-item:hover .delete-note {
  display: block;
  margin-top: 2px;
  margin-right: 3px;
}

.delete-note {
  opacity: 0.5;
}

.delete-note:hover {
  opacity: 1.0;
}

.cancel-edit-note {

}
