// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#task #delete-task {
  display: none;
}


#task:hover #delete-task {
  display: block;
  margin-top: 2px;
  margin-right: 3px;
}

#delete-task {
  opacity: 0.5;
}

#delete-task:hover {
  opacity: 1.0;
}
