// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-group-item-unstyled {
  background: #fff;
  border: 1px solid #ddd;
  padding: 8px;
  margin-bottom: 8px;
}

.list-group-item-unstyled:last-child {
  margin-bottom: 0;
}

.task-item .delete-task {
  display: none;
}

.task-item:hover .delete-task {
  display: block;
  margin-top: 2px;
  margin-right: 3px;
}

.delete-task {
  opacity: 0.5;
}

.delete-task:hover {
  opacity: 1.0;
}

.task-label {
  margin-right: 12px;
}